.form {
  background-color: rgb(244, 244, 244);
  width: 50%;
  padding: 20px 10px 20px 35px;
  border-radius: 5px;
  position: center;
}

.form__input{
  background-color: rgb(229, 229, 229);
  color: rgb(42, 42, 42);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 2px;
  width: 90%;
  margin-bottom: 40px;
  padding: 10px;
  font-family: "Times New Roman", Times, serif;
  font-size: 18px;
  font-weight: bold;
}

#btn {
  color: rgb(229, 229, 229);
  background-color: rgb(27, 164, 130);
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 93%;
}

.form__fields {
  font-weight: bold;
  font-size: 25px;
  color: rgb(75, 75, 75);
  display:inline-block;
  margin-bottom: 20px;
}

#interests {
  color: rgb(89, 89, 89);
  font-weight: bold;
  font-size:20px;
  margin-bottom: 5px;
}

#select {
  color: rgb(42, 42, 42);
  width:93%;
}

.form__green_square {
  width: 30px;
  height:30px;
  border-radius: 50%;
  border-bottom-left-radius: 0%;
  color: rgb(229, 229, 229);
  background-color: rgb(27, 164, 130);
  font-size:20px;
  text-align: center;
  padding-top: 5px;
  display:inline-block;
}
